<nav class="navbar background">
  <div>
  <div class="logo">
    <img src="../assets/image/pngtree.jpg" alt="logo" />
  <div class="span"><h1>Insure</h1></div>
  </div>
  </div>
  <ul class="nav-list" id="nav-list">
    <li (click)="close()"><a href="#home">Profile</a></li>
    <li (click)="close()"><a href="#About">Plans</a></li>
    <li (click)="close()"><a href="#Services">Hospitals</a></li>
    <li (click)="close()"><a href="#Claims">Claims</a></li>
    <li (click)="close()"><a href="#Contact Us">Contact Us</a></li>
    <div class="rightNav">
      <input type="text" name="=search" id="search" />
      <button class="btn btn-sm">Search</button>
    </div>
  </ul>
  <div class="burger" id="burger" (click)="togglenavbar()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
<section class="background firstsection" id="home">
  <div class="box-main">
    <div class="firsthalf">
      <h1 class="text-big">Expert Insurance Solutions</h1>
      <p class="text-small">
        Your Shield Against Uncertainty Know more Insurance Made Easy
      </p>
      <br />
      <div class="butten">
        <button class="btn">Know More</button>
      </div>
    </div>
    <div class="secondhalf">
      <img
        src="/assets/image/insurance-img2.jpg"
        style="height: 200px; width: 200px"
        alt="insurance-image"
      />
    </div>
  </div>
</section>
<section class="background2 firstsection">
  <div class="box-main2">
    <div class="firsthalf">
      <h3 class="text-big">Trusted Company</h3>
      <p class="text-small">Most of the People Trust on Us</p>
      <br />
      <p class="paragraph-small">
        Continuously engage with your audience, respond to inquiries, and
        address any concerns promptly. By consistently providing reliable and
        valuable insurance information
      </p>
      <div class="butten">
        <button class="btn">Get Started</button>
      </div>
    </div>
    <div class="secondhalf">
      <img
        src="/assets/image/trust.jpg"
        style="height: 200px; width: 200px"
        alt="trust-img"
      />
    </div>
  </div>
</section>
<section class="background1 firstsection" id="About">
  <div class="box">
    <p class="sec3h1">What We'are Offering-</p>
    <h1 class="sec3h1">Insurance Products and Plans</h1>
  </div>
  <div class="box-main4">
    <div class="card-body">
      <div class="imgdiv">
        <img
          src="/assets/image/heartimg.jpg"
          alt="logo"
          height="100px"
          width="100px"
        />
      </div>
      <h5 class="card-title">Life Insurance</h5>
      <p class="card-text">
        Covers death total permanent disability,terminal illness
      </p>
    </div>
    <div class="card-body">
      <div class="imgdiv">
        <img
          src="/assets/image/health-insurance.jpg"
          alt="logo"
          height="100px"
          width="100px"
        />
      </div>
      <h5 class="card-title">Health insurance</h5>
      <p class="card-text">
        Covers hospitalisation, critical illness, disability, maternity
      </p>
    </div>
    <div class="card-body">
      <div class="imgdiv">
        <img
          src="/assets/image/persnalAcc.jpg"
          alt="logo"
          height="100"
          width="100"
        />
      </div>
      <h5 class="card-title">Personal accident</h5>
      <p class="card-text">
        Covers fractures,burns,infectious diseases, medical
        reimbursement,accident
      </p>
    </div>
    <div class="card-body">
      <div class="imgdiv">
        <img
          src="/assets/image/car-isurance.jpg"
          alt="logo"
          height="100"
          width="100"
        />
      </div>
      <h5 class="card-title">Car Insurance</h5>
      <p class="card-text">
        Covers repair services, accident assistance, medical reimbursement
      </p>
    </div>
  </div>
</section>
<section class="sec-third" id="Contact Us">
  <h3 class="text">Contact Us</h3>
  <div class="box-main3">
    <input class="form-input" placeholder="Enter your name" />
    <input class="form-input" placeholder="Enter your Phone" />
    <input class="form-input" type="email" placeholder="Enter your email" />
    <textarea class="form-input" style="height: 140px">
Elaborate your concern</textarea
    >
    <button class="button button1">Submit</button>
  </div>
</section>
<section>
  <div class="follow">
    <div>
    <h1>Follow Us On</h1>
  </div>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
</section>

<footer>
  <p
    style="text-align: center; padding: 14px; color: aliceblue"
    class="background2"
  >
    Copyright &copy; 2023 All rights reserved
  </p>
</footer>
